div {
  background: teal;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: helvetica;
}

.a {
  background: tomato;
  position: fixed;
  /* RELATIU A LA FINESTRA */
  right: 100px;
  top: 100px;
}

.b {
  background: cyan;
  position: relative;
  /* RELATIU A LA SEVA POSICIO */
  top: 20px;
  left: 50px;
}

.c {
  background: orange;
  position: absolute;
  /* RELATIU A LA PAGINA */
  right: 500px;
  top: 300px;
}
