/* Movil*/
@media screen and (max-width:640px) and (orientation:portrait) {
  body {
    background-image: linear-gradient(90deg, green, lime);
  }
}

/* Movil*/
@media screen and (max-width:640px) and (orientation:landscape){
  body {
    background-image: linear-gradient(90deg, cyan, BLUE);
  }
}

/* Tablets*/
@media screen and (min-width:641px) and (max-width:1200px) {
  body {
    background-image: linear-gradient(90deg, red, crimson 90%);
  }
}

/* Escritorio*/
@media screen and (max-width:640px) {
  body {
    background-image: linear-gradient(90deg, yellow, orange 90%);
  }
}
