
/* porfavor no mires el codigo*/



body {

  margin: 40px;
  overflow: hidden;
   transform: rotate(-90deg);
}

div {

display: block;
height: 100px;
width: 800px;
margin: auto;




}
#fondo {


  height: 840px;
  width: 840px;
  margin: auto;
  background: green;
  position: absolute;
  top: -20px;
  right: 500px;
  z-index: -1;

}

#a1 {

  background: maroon;
  height: 100px;
  width: 100px;
  margin-left: 100px

}
#a2 {

  background: maroon;
  height: 100px;
  width: 100px;
  margin-left: 200px

}
#a3 {
  background: maroon;
  height: 100px;
  width: 100px;
  margin-left: 200px

}
#a4 {
  background: maroon;
  height: 100px;
  width: 100px;
  margin-left: 200px

}

#b1 {

  background: orange;
  height: 100px;
  width: 100px;
  margin-left: 100px

}
#b2 {

  background: orange;
  height: 100px;
  width: 100px;
  margin-left: 200px

}
#b3 {
  background: orange;
  height: 100px;
  width: 100px;
  margin-left: 200px

}
#b4 {
  background: orange;
  height: 100px;
  width: 100px;
  margin-left: 200px

}

#a,#c,#e,#g {

background: orange;

}

#b,#d,#f,#h
{

background: maroon;

}

.ficha {
  background-color: white;
  border-radius: 300px;
margin: auto;
width: 40px;
height: 40px;
padding: 30px;
overflow: hidden;

}
.d {
  color: white;
margin-top: 40px;
  text-align: center;
}
