body {
  font-family: 'Roboto', sans-serif, helvetica, serif, arial;
  background-color: rgb(250, 196, 115);
}

.pixel {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 30;
}

.contingut {
  background: #656565;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
}

.contingut h1 {
  color: white;
  margin-top: 180px;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 5rem;
}

.logo {
  margin: 10% auto;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 999px;
}
