@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: black;
  filter: brightness(0.6);
  cursor: url(https://media.giphy.com/media/inNTw05ozJuTK/giphy.gif), auto;

}
.fondo{
  margin:0;
  padding: 0;
}
.fondo img{
position: absolute;
margin-top: -20px;
width: 100%;
height:170%;
opacity: 0.3;

}
.fuego img{
position:absolute;
margin-top: -20px;
width: 100%;
height:170%;
opacity: 0.1;

}

.text{

width: 800px;
margin: auto;
font-size: 25px;
color: white;
line-height: 32px;
text-align: justify;


}
img {

width: 200px;
opacity: 0.6;
-webkit-user-drag: none;
}
.d {
float: right;
margin-left: 20px;

}

.i{
float: left;
margin-right: 20px;

}
.c {
  float: left;
  margin: 0 20px 0 0;
}

.inicial:first-letter{
  color: red;
}


p {
  font-size: 1rem;
  animation: glow 1s infinite;
}
@keyframes glow {
  0%,100% {text-shadow: 0 0 10px red;}
  50% {text-shadow: 0 0 0px red;}

}



.c1 {

  width: 390px;
  float: left;
}

.c2 {
  width: 390px;
  float: right;
}

h1, p{


  font-family: 'Eater', cursive;
}
h1{

  font-size: 2rem;
}
